{% extends "base.html" %}

{% block content %}

<h1>User Dashboard</h1>

<h3>Total Users: {{ total_users }}</h3>
<h3 style="color:green;">
    Safe Users: {{ safe_users }}
</h3>

<h3 style="color:red;">
    Fraud Users: {{ fraud_users }}
</h3>
<hr>

<form method="GET" action="/dashboard">
    <input type="text" name="aadhaar" placeholder="Enter Aadhaar Number">
    <button type="submit">Search</button>
<div style="text-align:right; margin:-5px;margin:10px;">
    <a href="/export"
       style="background:green;
              color:white;
              padding:5px 10px;
              font-size:12px;
              text-decoration:none;
              border-radius:5px;">
        ⬇ Download CSV
    </a>
</div>
</form>

<br>

<table style="width:100%; border-collapse:collapse; font-family:Arial;">

    <tr style="background:#2c3e50; color:white;">
        <th style="padding:10px;">ID</th>
        <th>Name</th>
        <th>Aadhaar</th>
        <th>Mobile</th>
        <th>Time</th>
        <th>Risk Score</th>
        <th>Status</th>
        <th>IP Address</th>
        <th>Action</th>
    </tr>

    {% for user in users %}
    <tr style="text-align:center; border-bottom:1px solid #ddd;">
        <td>{{ user[0] }}</td>
        <td>{{ user[1] }}</td>
        <td>{{ user[2] }}</td>
        <td>{{ user[3] }}</td>
        <td>{{ user[4] }}</td>

        <!-- Risk Score Color -->
        <td>
            {% if user[5] > 50 %}
                <span style="color:red; font-weight:bold;">{{ user[5] }}%</span>
            {% else %}
                <span style="color:green; font-weight:bold;">{{ user[5] }}%</span>
            {% endif %}
        </td>

        <!-- Status Color ONLY -->
        <td>
            {% if user[6] == 'Fraud' %}
                <span style="color:red; font-weight:bold;">Fraud</span>
            {% else %}
                <span style="color:green; font-weight:bold;">Safe</span>
            {% endif %}
        </td>

        <td>{{ user[7] }}</td>

        <!-- Delete (no extra design, simple) -->
        <td>
            <a href="/delete/{{ user[0] }}" style="color:blue">
                Delete
            </a>
        </td>
    </tr>
    {% endfor %}

</table>

{% endblock %}